.description {
  margin-bottom: 192px;
  position: relative;
  &__decor {
    display: flex;
    width: 100%;
    max-width: 590px;
    position: absolute;
    left: 0;
    bottom: -768px;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    text-align: center;
    position: relative;
    max-width: fit-content;
    margin: 0 auto 67px;
  }

  &__title-dec {
    position: absolute;
    -webkit-text-stroke: 1.5px #35345f;
    color: white;
    display: inline;
    font-size: 230.32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  }

  &__item {
    background-image: var(--gradient);
    position: relative;
    min-height: 380px;
    padding: 16px 38px;
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fff;
    }
  }

  &__item-header {
    display: flex;
    position: relative;
    align-items: baseline;
    z-index: 1;
    margin-bottom: 10px;
  }

  &__item-num {
    background-image: var(--gradient);
    @include text-gradient;

    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-right: 17px;
  }

  &__item-icon {
    display: flex;
    justify-self: 24px;
  }

  &__item-title {
    position: relative;
    z-index: 1;
    color: rgb(53, 52, 95);
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__item-text {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 1%;
    color: #61617e;

    p,
    ul {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: 15px;
      list-style: disc;
      list-style-position: inside;
    }

    span {
      font-weight: 700;
      color: #5d5fef;
    }
  }
}

@media (max-width: 1120px) {
  .description {
    &__title {
      max-width: 768px;
      width: fit-content;
    }
    &__title-dec {
      left: auto;
      right: 0;
    }
  }
}

@media (max-width: 1000px) {
  .description {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      max-width: 650px;
      margin: 0 auto;
    }
    &__item {
      padding: 20px;
    }
  }
}
@media (max-width: 768px) {
  .description {
    margin-bottom: 100px;
    &__title {
      max-width: 600px;
    }
    &__title-dec {
      font-size: 150px;
    }
  }
}
@media (max-width: 650px) {
  .description {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      max-width: 400px;
    }
  }
}

@media (max-width: 600px) {
  .description {
    &__title-dec {
      display: none;
    }
  }
}
