@mixin text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin text-gradient-default {
  -webkit-background-clip: border-box; /* значение по умолчанию */
  -webkit-text-fill-color: initial; /* значение по умолчанию */
  background-clip: border-box; /* значение по умолчанию */
  text-fill-color: initial;
}
