:root {
  //fonts
  --font-text: 'Mont', sans-serif;

  //color
  --color-1: #00275f;
  --color-2: #35345f;
  --color-3: #61617e;

  //gradient
  --gradient: linear-gradient(90deg, rgb(152, 52, 237), rgb(93, 95, 239));
}
